<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>

    <body>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>

        <div id="container"></div>
        <br><br>
        <form id="book-form">
            <label for="title">Title:</label>
            <input id="title" type="text">
            <br>
            <label for="author">Author:</label>
            <input id="author" type="text">
            <br>
            <label for="genre">Genre:</label>
            <select id="genre">
                <option value="adventure">Adventure</option>
                <option value="scifi">Scifi</option>
                <option value="comedy">Comedy</option>
                <option value="biography">Biography</option>
            </select>
            <br>
            <label for="release_year">Release year:</label>
            <input id="release_year" type="number">
            <br>
            <label for="quantity">Quantity:</label>
            <input id="quantity" type="number">
            <br>
            <button type="submit">Create new book</button>
        </form>

        <script>
            function showAllBooks() {
                let container = document.getElementById("container"); // load the container
				container.innerHTML = ""; // delete the content already inside the container
		        let req = "http://127.0.0.1:8000/api/book/"
		        fetch(req) // make a request to this endpoint
                .then(response => response.json()) // with our response, get the json data returned
                //.then(data => console.log(data));
                .then(data => {
                    container.innerHTML += `<ol id="book-list"></ol>`; // create an empty list 
                    data.forEach(elem => {
                        let bookList = document.getElementById("book-list"); // load the book lsit we just created
                        let bookString = `<li>${elem.title} - ${elem.author}</li> 
                        <button onclick="viewSingleBook(${elem.id})">View</button>`; // create a new li element containing info on our book
                        bookList.innerHTML += bookString;
                    })
                });
			}

            function viewSingleBook(bookId) {
                let container = document.getElementById("container");
                container.innerHTML = "";
                let req = "http://127.0.0.1:8000/api/book/" + bookId + "/";
                fetch(req)
                .then(response => response.json())
                .then(data => {
                    let bookString = `<p>Title: ${data.title}</p>
                    <p>Author: ${data.author}</p>
                    <p>Release Year: ${data.release_year}
                        <br>
                        <br>
                        <button onclick="showAllBooks()">Home</button>`;
                        container.innerHTML += bookString;
                    });
            }

            let form = document.getElementById("book-form");
            form.addEventListener("submit", (e) => {
                e.preventDefault();

                // load variables from the form and construct a JSON object.
                let data = {
                    title: document.getElementById("title").value,
                    author: document.getElementById("author").value,
                    genre: document.getElementById("genre").value,
                    release_year: document.getElementById("release_year").value,
                    quantity: document.getElementById("quantity").value,
                };
                //console.log(data);

                // send as a POST request to http://127.0.0.1:8000/api/book/
                fetch("http://127.0.0.1:8000/api/book/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log("Success", data);
                    })
                    .catch(error => {
                        console.error("Error", error);
                    });

                // refresh the page
                window.location.reload();
            });

            // calling function
            showAllBooks();
        </script>
    </body>
</html>