<!--TODO: Add a navbar and only show the pizza and confirmation details at on this page.-->
{% extends 'base.html' %}
{% block title %}
    <h1>Confirmation Page</h1>
{% endblock %}

{% block content %}
    <p>Thank you for ordering your pizza with us!</p>
    <p>Your pizza should be with you shortly.</p>
    <br>
    <p>Here is a review of the pizza you ordered:</p>
    <p>{{ details.pizza_order }}</p>

    <p>Would you like to create another pizza?</p>
    
    <p><b>Here is the pizza you created:</b></p>
    <p>{{ pizza.size }}</p>
    <p>{{ pizza.crust }}</p>
    <p>{{ pizza.sauce }}</p>
    <p>{{ pizza.cheese }}</p>
    <p>{{ pizza }}</p>

    <p>{{ toppings }}</p>
    <button>
        <a href="/createpizza" aria-current="true">
            Click here to create another pizza
        </a>
    </button>
{% endblock %}