{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-4">
            <h5 class="display-5">Here is a review of your order:</h5>

            <br>

            <!-- Summary of Order -->
            <h4>Pizza summary</h4>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light"><b>Size:</b> {{ pizza.size }}</li>
                <li class="list-group-item list-group-item-light"><b>Crust:</b> {{ pizza.crust }}</li>
                <li class="list-group-item list-group-item-light"><b>Sauce:</b> {{ pizza.sauce }}</li>
                <li class="list-group-item list-group-item-light"><b>Cheese:</b> {{ pizza.cheese }}</li>
                <li class="list-group-item list-group-item-light"><b>Toppings:</b> {{ pizza }}</li>
            </ul>

            <br>

            <!-- Summary of Details, just have summary of name and address, don't add the credit card details -->
            <h4>Details summary</h4>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light"><b>First Name:</b> {{ customer.first_name }}</li>
                <li class="list-group-item list-group-item-light"><b>Last Name:</b> {{ customer.last_name }}</li>
                <li class="list-group-item list-group-item-light"><b>Address Line 1:</b> {{ customer.address1 }}</li>
                <li class="list-group-item list-group-item-light"><b>Address Line 2:</b> {{ customer.address2 }}</li>
                <li class="list-group-item list-group-item-light"><b>City:</b> {{ customer.city }}</li>
                <li class="list-group-item list-group-item-light"><b>County:</b> {{ customer.county }}</li>
                <li class="list-group-item list-group-item-light"><b>Eircode:</b> {{ customer.eircode }}</li>
            </ul>

            <br>

            <button class="btn btn-light">
                <a href="/createpizza" aria-current="true">
                    Click here to create another pizza
                </a>
            </button>
        </div>
    </div>


{% endblock %}