{% extends 'base.html' %}
{% block title %}
    <h1>Enter your details here!</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-6">
            <h3>Enter your details here:"</h3>
            <form action="" method="POST" class="form-example">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_table }}
                </div>

                <br>

                <div class="form-group">
                    <button type="submit" class="btn btn-outline-primary">
                        Place Order
                    </button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}