{% extends 'base.html' %}

{% block content %}
    {% for item in items %}
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                <b>{{ item.name }}</b>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Description: {{ item.description }}</li>
                <li class="list-group-item">Size: {{ item.size }}</li>
                <li class="list-group-item">Type: {{ item.type }}</li>
                <li class="list-group-item">Color: {{ item.color }}</li>
                <li class="list-group-item">Price: {{ item.price }}</li>
                <li class="list-group-item">Quantity: {{ item.quantity }}</li>
                <li class="list-group-item"><a href="items/single_item/{{ item.id }}">View item</a></li>
            </ul>
        </div>
        <br>

    {% endfor %}
{% endblock %}